<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.ac.horizon.ug.exploding.client"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".Application">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE"></category>
<category android:name="android.intent.category.DEFAULT"></category>
<!--  cannot use a string reference here, I think -->
<data android:scheme="uk.ac.horizon.ug.exploding"/>
</intent-filter>
        </activity>

    <activity android:name=".ExplodingPreferences" android:label="Preferences" android:icon="@drawable/icon" android:allowTaskReparenting="false" android:launchMode="standard">
</activity>
<activity android:icon="@drawable/gps" android:name=".GpsStatusActivity" android:label="Gps Status" android:clearTaskOnLaunch="true" android:noHistory="true" android:enabled="true" android:exported="true" android:allowTaskReparenting="false" android:launchMode="singleTop"><intent-filter android:label="Gps Status">
<action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>
<activity android:label="Game Map" android:name=".GameMapActivity"></activity>
<uses-library android:name="com.google.android.maps" android:required="true"></uses-library>
<activity android:label="Player Status" android:name=".PlayerStatusActivity" android:taskAffinity="uk.ac.horizon.ug.exploding.client.debug" android:allowTaskReparenting="true" android:launchMode="singleTop"></activity>
<activity android:label="Create Member" android:name=".CreateMemberActivity"></activity>
<activity android:label="Game Status" android:name=".GameStatusActivity" android:taskAffinity="uk.ac.horizon.ug.exploding.client.debug" android:allowTaskReparenting="true" android:launchMode="singleTop"></activity>
<activity android:name=".DebugHomeActivity" android:taskAffinity="uk.ac.horizon.ug.exploding.client.debug" android:launchMode="singleTask" android:label="Exploding Debug" android:alwaysRetainTaskState="true" android:finishOnCloseSystemDialogs="false" android:finishOnTaskLaunch="false" android:clearTaskOnLaunch="false"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>
<activity android:name=".ClapperboardActivity" android:label="Current Device Information" android:launchMode="standard" android:screenOrientation="portrait"></activity>

<!-- apparently WebView handles orientation changes ok and this stops page re-loading -->
<!-- also has info to act as main entry point -->
<activity android:name="uk.ac.horizon.ug.lobby.androidclient.LobbyClientActivity" 
		android:configChanges="orientation|keyboardHidden"

                  android:label="@string/app_name" android:alwaysRetainTaskState="true" 
                  android:icon="@drawable/icon" android:launchMode="singleTask">

	<intent-filter>
		<action android:name="android.intent.action.MAIN"></action>
		<category android:name="android.intent.category.LAUNCHER"></category>
	</intent-filter>
</activity>

</application>


<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

<uses-permission android:name="android.permission.DEVICE_POWER"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>

<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"></uses-sdk>

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest> 